<a href="https://colab.research.google.com/github/jreyes6006-hue/junior-reyes/blob/main/TP1/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
print("Hola mundo")

Hola mundo

In [ ]:
#2
nombre = input("ingresa tu nombre: ")
print("hola", nombre)

ingresa tu nombre: junior
hola junior

In [ ]:
#3
a=int(input("primer numero:"))
b=int(input("segundo numero"))
print("La suma es:", a + b)

primer numero:8
segundo numero7
La suma es: 15

In [ ]:
#4
base= float(input("base:" ))
altura= float(input("altura: "))
print("area:",(base * altura) / 2)

base:5
altura: 4
area: 10.0

In [ ]:
#5
c = float(input("Grados celsius:"))
f = (c * 9/5)+32
print("En fahrenheit:", f)

Grados celsius:80
En fahrenheit: 176.0

In [ ]:
#6
n= int(input("numero:"))
if n % 2 ==0:
  print("es par")
else:
  print("es impar")

numero:29
es impar

In [ ]:
#7
a=int(input("Numero 1: "))
b=int(input("Numero 2: "))
c=int(input("Numero 3: "))
print("El mayor es:", max(a, b, c))

Numero 1: 5
Numero 2: 4
Numero 3: 12
El mayor es: 12

In [ ]:
#8
n=int(input("Numero:"))
print("El cuadrado es:", n**2)

Numero4
El cuadrado es: 16

In [ ]:
#9
n=int(input("Numero:"))
for i in range(1, 11):
  print(n, "x", i, "=", n*i)

Numero:254
254 x 1 = 254
254 x 2 = 508
254 x 3 = 762
254 x 4 = 1016
254 x 5 = 1270
254 x 6 = 1524
254 x 7 = 1778
254 x 8 = 2032
254 x 9 = 2286
254 x 10 = 2540

In [ ]:
#10
palabra= input("Escribe la palabra: ")
print("Al revez:", palabra [::-1])

Escribe la palabra: caroline
Al revez: enilorac

In [ ]:
#11
edad = int(input("Edad: "))
if edad >= 18:
  print("Mayor de edad")
else:
    print("Menor de edad")

Edad: 17
Menor de edad

In [ ]:
#12
n = int(input("Numero: "))
fact = 1
for i in range(1, n+1):
  fact *= i
  print("Factorial:", fact)

Numero: 5
Factorial: 1
Factorial: 2
Factorial: 6
Factorial: 24
Factorial: 120

In [ ]:
#13
suma = 0
for i in range(5):
  num = float(input("Numero: "))
  suma += num
  print("Promedio:", suma / 5)

Numero: 10
Promedio: 2.0
Numero: 5
Promedio: 3.0
Numero: 3
Promedio: 3.6
Numero: 9
Promedio: 5.4
Numero: 20
Promedio: 9.4

In [ ]:
#14
n = int(input("Numero: "))
for i in range(2, n+1, 2):
  print(i)

Numero: 5
2
4

In [ ]:
#15
letra = input("Letra: ").lower()
if letra in "aeiou":
  print("Es vocal")
else:
  print("Es consonante")

Letra: o
Es vocal

In [ ]:
#16
a, b = 0, 1
for i in range(20):
  print(a)
  a, b = b, a+b

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [ ]:
#17
n = int(input("Numero: "))
es_primo = True
if n < 2:
  es_primo = False
else:
  for i in range(2, n):
    if n % i == 0:
      es_primo = False
      break

print("Es primo" if es_primo else "No es primo")

Numero: 1
No es primo

In [ ]:
#18
for i in range(1, 101):
  if i % 5 == 0:
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [3]:
#19
palabra = input("Escribe un palabra: ").lower()
contador = 0

for letra in palabra:
  if letra in "aeiou":
    contador += 1

    print("La palbra tiene", contador, "voacal(es)")

Escribe un palabra: sol
La palbra tiene 1 voacal(es)

In [12]:
#20
a = float(input("Numero1: "))
b = float(input("Numero2: "))
op = input("Operracion (+ - * /): ")

if op == "+":
    print("Resultado:", a + b)
elif op == "-":
    print("Resultado:", a - b)
elif op == "*":
    print("Resultado:", a * b)
elif op == "/":
    if b != 0:
        print("Resultado:", a / b)
    else:
       print("No se puede dividir entre 0")

else:

    print("Operacion no valida")

Numero1: 100
Numero2: 3
Operracion (+ - * /): /
Resultado: 33.333333333333336

In [19]:
#21
numeros = []
for i in range(10):
  n = int(input(f"Ingresa el numero {i+1}: "))
  numeros.append(n)

print("La lista es:", numeros)
print("El mayor es:", max(numeros))

Ingresa el numero 1: 4
Ingresa el numero 2: 6
Ingresa el numero 3: 2
Ingresa el numero 4: 5
Ingresa el numero 5: 7
Ingresa el numero 6: 4
Ingresa el numero 7: 3
Ingresa el numero 8: 7
Ingresa el numero 9: 4
Ingresa el numero 10: 7
La lista es: [4, 6, 2, 5, 7, 4, 3, 7, 4, 7]
El mayor es: 7

In [23]:
#22
numeros = []

for i in range(5):
  n = int(input(f"Ingresa el numero {i+1} "))
  numeros.append(n)

print("Lista original:", numeros)
numeros.sort()
print("Lista ordenada:", numeros)

Ingresa el numero 1 3
Ingresa el numero 2 5
Ingresa el numero 3 7
Ingresa el numero 4 2
Ingresa el numero 5 5
Lista original: [3, 5, 7, 2, 5]
Lista ordenada: [2, 3, 5, 5, 7]

In [24]:
#23
numeros = []
for i in range(8):
  n = int(input(f"Ingresa el numero {i+1}: "))
  numeros.append(n)
print("Lista original", numeros)

sin_duplicados = list(set(numeros))

print("Lista sin duplicados", sin_duplicados)

Ingresa el numero 1: 4
Ingresa el numero 2: 2
Ingresa el numero 3: 6
Ingresa el numero 4: 4
Ingresa el numero 5: 7
Ingresa el numero 6: 2
Ingresa el numero 7: 7
Ingresa el numero 8: 9
Lista original [4, 2, 6, 4, 7, 2, 7, 9]
Lista sin duplicados [2, 4, 6, 7, 9]

In [29]:
#24
nombres = []

for i in range(5):
  nombre = input(f"Ingresa el nombre {i+1}: ")
  nombres.append(nombre)

print("Lista original", nombres)
nombres.sort()
print("Lista ordenada", nombres)

Ingresa el nombre 1: ana
Ingresa el nombre 2: gabriel
Ingresa el nombre 3: ema
Ingresa el nombre 4: junior
Ingresa el nombre 5: juan
Lista original ['ana', 'gabriel', 'ema', 'junior', 'juan']
Lista ordenada ['ana', 'ema', 'gabriel', 'juan', 'junior']

In [30]:
#25
numeros = []

for i in range(5):
  n = int(input(f"Ingresa el numero {i+1}: "))
  numeros.append(n)

  print("Lista:", numeros)
  print("La suma es:", sum(numeros))

Ingresa el numero 1: 5
Lista: [5]
La suma es: 5
Ingresa el numero 2: 10
Lista: [5, 10]
La suma es: 15
Ingresa el numero 3: 3
Lista: [5, 10, 3]
La suma es: 18
Ingresa el numero 4: 5
Lista: [5, 10, 3, 5]
La suma es: 23
Ingresa el numero 5: 6
Lista: [5, 10, 3, 5, 6]
La suma es: 29

In [31]:
#26
lista1 = []
lista2 = []

for i in range(3):
  n = int(input(f"Ingresa el numero {i+1} para la lista 1: "))
  lista1.append(n)

for i in range(3):
  n = int(input(f"Ingresa el numero {i+1} para la lista 2: "))
  lista2.append(n)


lista_unida = lista1 + lista2


print("Lista 1:", lista1)
print("Lista 2:", lista2)
print("Lista unida:", lista_unida)

Ingresa el numero 1 para la lista 1: 4
Ingresa el numero 2 para la lista 1: 2
Ingresa el numero 3 para la lista 1: 4
Ingresa el numero {i+1} para la lista 2: 5
Ingresa el numero {i+1} para la lista 2: 7
Ingresa el numero {i+1} para la lista 2: 8
Lista 1: [4, 2, 4]
Lista 2: [5, 7, 8]
Lista unida: [4, 2, 4, 5, 7, 8]

In [32]:
#27
frase = input("Escribe una frase: ")
palabras = frase.split()
print("La frase tiene", len(palabras), "palabras(s)")

Escribe una frase: yo estudia ingenria
La frase tiene 3 palabras(s)

In [35]:
#28
palabra = input("Escribe una palabra: ").lower()
if palabra == palabra[::-1]:
  print("Es una palindromo")
else:
  print("No es un palindromo")

Escribe una palabra: radar
Es una palindromo

In [37]:
#29
cuadrados = []
for i in range(1, 11):
  cuadrados.append(i**2)

print("Los cuadrados son:", cuadrados)

Los cuadrados son: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Los cuadrados son: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
#30
numeros = []

for i in range(6):
  n = int(input(f"Ingresa el numero {i+1}: "))
  numeros.append(n)

print("Lista original:", numeros)

numeros.sort(reverse=True)

if len(numeros) >= 2:
  print("El segundo numero mas grande es:", numeros[1])
else:
  print("No hay suficientes numeros en la lista")

Ingresa el numero 1: 3
Ingresa el numero 2: 5
Ingresa el numero 3: 7
Ingresa el numero 4: 3
Ingresa el numero 5: 2
Ingresa el numero 6: 6
Lista original: [3, 5, 7, 3, 2, 6]
El segundo numero mas grande es: 6